.button{
    background-color: yellow;
    color: black;
    font-weight: 600;
    font-family: 'Poppins';
    padding: 20px;
    border: none;
    cursor: pointer;
}

.button1{
    background-color: yellow;
    color: black;
    font-weight: 600;
    font-family: 'Poppins';
    padding: 20px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 25px;
}

.div{
    display: flex;
    margin: auto;
    justify-content: flex-end;
}