

.borrow-section{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, rgb(21, 21, 186), rgb(2, 2, 102));
  width: 78.5%;
  box-shadow: 9px 9px 11px yellow, -9px 0 11px rgb(21, 21, 186);
  margin-bottom: 50px;
    border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.borrow-area{
  display: flex;
  margin: auto;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}

.project-list{
  color: black;
  background-color: yellow;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
  text-align: right;
  border-radius: 25px;
}