.borrow-h1 {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 80px;
  color: white;
  letter-spacing: 1.5px;
  margin-top: 70px;
  margin-bottom: -120px;
}

.video{
  display: flex;
  margin: auto;
  margin-bottom: -50px;
  margin-top: 80px;
}

.borrow-area {
  background-image: linear-gradient(to bottom, rgb(49, 49, 49), rgb(20, 20, 20));
  width: 670px;
  margin: auto;
  height: 1100px;
  display: flex;
  margin-top: 100px;
  border: 3px solid rgb(255, 255, 255);
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 100px;
}

.borrow-area-inside {
  border: 4px solid rgb(179, 179, 179);
  border-radius: 25px;
  width: 570px;
  margin-top: 25px;
  height: 1050px;
  background-image: linear-gradient(to bottom, rgb(19, 19, 19), rgb(48, 48, 48));
}

.borrow-section {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 10;
  height: 600px;
  margin-top: 50px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.borrow-image {
  display: flex;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: center;
}

hr {
  display: flex;
  justify-content: center;
  width: 500px;
}

.label {
  font-size: 24px;
  padding: 25px;
  margin: 15px;
  color: white;
  width: 400px;
  font-weight: 700;
  font-family: sans-serif;
}

.input {
  padding: 12px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 25px;
  color: black;
  text-align: right;
  font-weight: 589;
  border: 4px solid black;
  background-color: #f2f2f2;
}

#project {
  margin-left: 100px;
  text-align: center;
}

#floor-price {
  margin-left: 56px;
}

#loan-length {
  margin-left: 39px;
}

#loan-interest {
  margin-left: 96px;
}

#ada-price {
  margin-left: 67px;
}

#loan-value {
  margin-left: 8px;
}

#buy-back {
  margin-left: 53px;
}

#repay {
  margin-left: 28px;
}

#profit-loss {
  margin-left: 63px;
}
