body{
    margin: 0;   
    background-color: #5ce1e6; 
}

#frontpage-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    flex-direction: column;
}

#frontpage-background-image{
    height: 500px;
    margin-top: 700px;
    position: absolute;
    align-self: center;
    z-index: 1;
}

.button-nohover{
    height: 200px;
    width: 300px;
    margin-top: 730px;
    align-self: center;
    border-radius: 15%;
    position: absolute;
    z-index: 3;
    border-bottom: 11px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
    border-top: 5px solid black;
}

.button-hover{
        height: 200px;
    width: 300px;
    margin-top: 730px;
    align-self: center;
    border-radius: 15%;
    position: absolute;
    z-index: 3;
    border: 5px solid black;
}
