.cardano-ecosystem {
  justify-content: center;
  background: linear-gradient(145deg, rgb(19, 19, 230), rgb(12, 12, 226));
  margin: auto;
  display: flex;
  box-shadow: 9px 9px 11px rgb(21, 21, 186), -9px 0 11px rgb(21, 21, 186);
  margin-bottom: 80px;
  border-top: 5px solid blue;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.cardano-data-div {
  color: white;
  width: 88%;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.cardano-table {
  width: 95%;
  margin-top: 30px;
  border-radius: 25px;
  background: linear-gradient(145deg, rgb(5, 5, 220), rgb(8, 8, 216));
  box-shadow: 9px 9px 11px rgb(21, 21, 186), -9px 0 11px rgb(21, 21, 186);
}

.coin-symbol {
  height: 50px;
}

tr,
td,
th {
}

th {
  height: 50px;
  text-align: center;
}

td {
  font-weight: 500;
  text-align: center;
}

.cardano-table-row {
  border: 2px solid red;
}

.coin-symbol {
  margin-top: 9px;
  border-radius: 50%;
}

.projects {
  background-color: yellow;
}

button {
  width: 150px;
  height: 50px;
}

.crypto-label {
  color: white;
}

.crypto-input{
  width: 90%;
}

.crypto-input-collection{
  margin-top: 5px;
  width: 100%;
}
