


.donate-header{
    margin: auto;
    display: flex;
    margin-top: 105px;
    border-radius: 30px;
    justify-content: center;
    height: 450px;
    animation: donate-header 2s;
    animation-fill-mode: forwards;
}

@keyframes donate-header {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}