.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(145deg, rgb(5, 5, 220), rgb(8, 8, 216));
  border-radius: 25px;
  width: 310px;
  box-shadow: 9px 9px 11px rgb(21, 21, 186), -9px 0 11px rgb(21, 21, 186);
}

.label {
  color: white;
  font-family: "Poppins";
}

.input {
  color: white;
  font-family: "Poppins";
  text-align: right;
  margin-left: 15px;
  background: linear-gradient(145deg, rgb(34, 71, 255), rgb(52, 52, 255));
  border-radius: 12px;
  border: none;
  padding: 7px;
}
