.mainbar {
  display: flex;
  margin: auto;
  width: 78.5%;
  justify-content: center;
  margin-top: 100px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.mainbar-div {
  width: 100%;
  display: flex;
  margin: auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  justify-content: center;
}

.mainbar-list-item {
  list-style: none;
  width: 25%;
}

.mainbar-button {
  height: 50px;
  width: 100%;
  transition: 0.4s;
  background-color: black;
}

.mainbar-button-clicked{
    height: 50px;
  width: 100%;
  transition: 0.4s;
  background-color: yellow;
}

.mainbar-button:hover {
  background-color: yellow;
}

.mainbar-item {
  text-decoration: none;
  font-family: "Poppins";
  color: yellow;
  font-weight: 600;
  transition: 0.4s;
  font-size: 16px;
  padding: 7%;
  padding-left: 28%;
  padding-right: 28%;
  letter-spacing: 1.36px;
}

.mainbar-item-clicked {
  text-decoration: none;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
  transition: 0.4s;
  font-size: 16px;
  padding: 7%;
  padding-left: 28%;
  padding-right: 28%;
  letter-spacing: 1.36px;
}

.mainbar-item:hover {
  color: black;
}

#mainbar-button-left {
  border-top-left-radius: 25px;
  border-right: none;
  border-bottom: 1px solid rgb(48, 117, 255);
  border-top: 5px solid rgb(48, 117, 255);
  border-left: 5px solid rgb(48, 117, 255);
}

#mainbar-button-right {
    border-left: none;
  border-top-right-radius: 25px;
  border-top: 5px solid rgb(48, 117, 255);
  border-right: 5px solid rgb(48, 117, 255);
  border-bottom: 1px solid rgb(48, 117, 255);
}

#mid-right-button {
    border-left: none;
    border-right: none;
  border-bottom: 1px solid rgb(48, 117, 255);
  border-top: 5px solid rgb(48, 117, 255);
}

#mid-left-button {
    border-right: none;
    border-left: none;
  border-bottom: 1px solid rgb(48, 117, 255);
  border-top: 5px solid rgb(48, 117, 255);
}

.main-article {
  background-color: white;
  height: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 5px solid black;
}
