.cardano-ecosystem {
  display: flex;
  margin: auto;
  height: 1200px;
  flex-direction: column;
  justify-content: center;
}

.native-back {
  height: 300px;
  width: 500px;
  margin: auto;
  display: flex;
  margin-top: 80px;
}

.cardano-header {
  height: 500px;
  margin-bottom: -120px;
}

.cardano-data-div {
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 3px solid white;
  height: 800px;
  width: 600px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.cardano-table {
  width: 100%;
}

.coin-symbol {
  height: 50px;
  padding-left: 10px;
}

tr,
td,
th {
  border: 3px solid rgb(21, 21, 21);
}

th {
  height: 50px;
  text-align: center;
}

.cardano-table-row {
  border: 2px solid red;
}
