

.lend-section{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 80%;
  border: 2px solid white;
  margin-bottom: 50px;
}

.lend-div-row-project{
  display: flex;
  justify-content: center;
}

.lend-area{
  display: flex;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: center;
}

.lend-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.lend-column{
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid black;
}

.project-list{
  color: black;
  background-color: yellow;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
  border: 3px solid black;
  text-align: right;
  border-radius: 25px;
}
