.lend-section {
  justify-content: center;
  background: linear-gradient(145deg, rgb(19, 19, 230), rgb(12, 12, 226));
  margin: auto;
  display: flex;
  box-shadow: 9px 9px 11px rgb(21, 21, 186), -9px 0 11px rgb(21, 21, 186);
  margin-bottom: 50px;
  border-top: 5px solid blue;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.lend-area {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.lend-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.project-list {
  color: black;
  background-color: yellow;
  font-family: "Poppins";
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
  border: 3px solid black;
  text-align: right;
  border-radius: 25px;
}
