.mainbar {
  background: linear-gradient(145deg, rgb(8, 8, 186), rgb(6, 6, 166));
  display: flex;
  border: 5px solid yellow;
  justify-content: center;
  margin-top: 120px;
  box-shadow: 4px 4px 11px rgb(21, 21, 186), -4px -4px 11px rgb(21, 21, 186);
  position: relative;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.mainbar-div {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  justify-content: center;
}

.mainbar-list-item {
  list-style: none;
  display: flex;
  width: 25%;
}

.mainbar-button {
  height: 50px;
  width: 100%;
  transition: 0.4s;
  border: none;

  background: linear-gradient(145deg, rgb(8, 8, 186), rgb(6, 6, 166));
}

.mainbar-button-clicked {
  height: 50px;
  width: 100%;
  transition: 0.4s;
  box-shadow: 0px 4px 5px black;
  background: linear-gradient(145deg, yellow, rgb(223, 223, 8));
}

.mainbar-button:hover {
  box-shadow: 0px 4px 5px black;
  background: linear-gradient(145deg, yellow, rgb(223, 223, 8));
}

.mainbar-item {
  text-decoration: none;
  font-family: "Poppins";
  color: yellow;
  font-weight: 600;
  transition: 0.4s;
  font-size: 16px;
  padding-left: 20%;
  padding-right: 20%;
  letter-spacing: 1.16px;
}

.mainbar-item-clicked {
  text-decoration: none;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
  transition: 0.4s;
  font-size: 16px;
  padding-left: 25%;
  padding-right: 25%;
  letter-spacing: 1.16px;
}

.mainbar-item:hover {
  color: black;
}

#mainbar-button-left{
  border-top-left-radius: 21px;
}

#mainbar-button-right{
  border-top-right-radius: 21px;
}
