.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 30px;
  background: linear-gradient(145deg, rgb(5, 5, 220), rgb(8, 8, 216));
  border-radius: 25px;
  padding-left: 20px;
  padding: 14px;
  padding-right: 20px;
  box-shadow: 9px 9px 11px rgb(21, 21, 186), -9px 0 11px rgb(21, 21, 186);
}

.borrow-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.input-label {
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  font-family: "Poppins";
}

.input {
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 10px;
  width: 80%;
  text-align: right;
  box-shadow: 2.5px 2.5px 9px rgb(0, 18, 132), -2.5px -2.5px 9px rgb(8, 0, 115);
  background-color: rgb(0, 108, 202);
  background: linear-gradient(145deg, rgb(34, 71, 255), rgb(52, 52, 255));
  border-radius: 5px;
}
