

.merch-header{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 125px;
    border-radius: 30px;
    margin-bottom: 105px;
    height: 450px;
    animation: merch-header 2s;
    animation-fill-mode: forwards;
}

@keyframes merch-header {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.merch-container{
    height: 500px;
    width: 500px;
    display: flex;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(0, 231, 81), rgb(156, 219, 255));
    box-shadow: 10px 10px 7px 2px rgb(0, 83, 11);
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 55px;
}

.merch-info{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.merch-h2{
    font-size: 37px;

}

.merch-list{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.merch-list li{
    margin: 10px;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.3px;
}

.merch-proceeds{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}