body {
  margin: 0;
  background-color: #5ce1e6;
}

.frontpage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
}

.frontpage-background {
  position: absolute;
  z-index: 0;
  height: 550px;
  margin-top: 300px;
}

.enter-button-hover {
  position: absolute;
  z-index: 3;
    height: 200px;
  margin-top: 480px;
  border-bottom: 7px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 3px solid black;
  border-radius: 25px;
}

.enter-button-nohover {
  position: absolute;
  z-index: 3;
  height: 200px;
  margin-top: 480px;
  border-bottom: 11px solid black;
  border-left: 7px solid black;
  border-right: 7px solid black;
  border-top: 5px solid black;
  border-radius: 25px;
}
