

.cnft-card-div {
  height: 550px;
  width: 300px;
  box-shadow: 8px 15px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 50px;
}

.cnft-img {
  height: 230px;
  padding-top: 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin: auto;
}

.cnft-img-hover{
  background-color: rgba(30, 30, 30, .2);
}

.div-ul {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top: 3px solid black;
  height: 280px;
  background-image: linear-gradient(to bottom right, rgb(161, 161, 161), rgb(213, 213, 213));
}

.cnft-card-ul {
  text-align: center;
  padding: 0;
  height: 185px;
  width: 220px;
  margin: auto;
}

.cnft-card-li {
  list-style: none;
  text-align: center;
  padding: 12px;
  font-weight: 600;
  margin-left: -35px;
}

hr {
  display: flex;
  margin: auto;
  padding: 0;
  width: 245px;
  justify-content: center;
  align-items: center;
  margin-left: -54px;
  margin-top: -10px;
  border: 1px solid gray;
}

.hr-change {
  border: 3px solid black;
}

.li-cat {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.li-project {
  font-size: 24px;
  font-weight: 800;
}

