

@keyframes header-image {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#project-list{
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  width: 200px;
  border-radius: 25px;
}


.cnft-data-div {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(156, 214, 255);
  margin: auto;
  height: 700px;
  width: 575px;
  margin-bottom: 100px;
  border-radius: 25px;
  box-shadow: 15px 15px 7px 2px rgb(0, 117, 213);
  background-image: linear-gradient(to bottom right, #3842ff, #1bcedb);
}

.cnft-header{
  font-size: 48px;
  color: white;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
}

.cnft-data{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cnft-ul{
    list-style: none;
    border: 3px solid black;
    width: 375px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.cnft-li{
    display: inline;
    margin: 0;
    letter-spacing: 1.3px;
}
