.cnft-section {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 78.6%;
  border: 5px solid rgb(48, 117, 255);
  margin-bottom: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.borrow-div-row-project {
  display: flex;
  justify-content: center;
}

.cnft-area {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.borrow-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.project-list {
  color: black;
  background-color: yellow;
  font-family: "Poppins";
  font-weight: 600;
  padding: 5px;
  font-size: 16px;
  border: 3px solid black;
  text-align: right;
  border-radius: 25px;
}
