.cnft-header {
  margin: auto;
  display: flex;
  width: 500px;
  justify-content: center;
}


.cnft-data-div {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(156, 214, 255);
  margin: auto;
  height: 700px;
  width: 575px;
  margin-bottom: 100px;
  border-radius: 25px;
  box-shadow: 15px 15px 7px 2px rgb(0, 117, 213);
  background-image: linear-gradient(to bottom right, #3842ff, #1bcedb);
}

.cnft-data{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cnft-ul{
    list-style: none;
    border: 3px solid black;
    width: 375px;
}

.cnft-li{
    display: inline;
    margin: 0;
    letter-spacing: 1.3px;
}
