
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.navbar{
    background-image: linear-gradient(to right, #3842ff, #1bcedb);
    display: flex;
    margin: auto;
    justify-content: flex-end;
    height: 90px;
    align-items: center;
    font-weight: 300;
    font-family:  'Poppins';
    border-bottom: 5px solid black;
}

.logo{
    height: 95px;
}

.navbar .logo{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.navbar-list{
    list-style: none;
    flex-direction: row;
    display: flex;
    margin: auto;
    margin-right: 50px;
}

.navbar-list-item{
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.item{
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1.2px;
    font-size: 20px;
}

.item:hover{
    animation: button-hover 1s;
}


@keyframes button-hover {
    0% {
        color: white;
    }
    100%{
        color: black;
    }
}
