.navbar{
    display: flex;
    flex-direction: column;
    background-color: #38b6ff;
    height: cover;
    width: 300px;
    border-left: 5px solid black;
    position: relative;
    justify-content: center;
    align-items: center;
}

