
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.navbar{
    display: flex;
    margin: auto;
    justify-content: flex-end;
    height: 90px;
    align-items: center;
    font-weight: 300;
    font-family:  'Poppins';
}

.logo{
    height: 115px;
}

.navbar .logo{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.navbar-list{
    list-style: none;
    flex-direction: row;
    display: flex;
    margin: auto;
    margin-right: 50px;
}

.navbar-list-item{
    justify-content: center;
    margin: auto;
    padding: 10px;
    transform: skewX(20deg);
}

.item{
    text-decoration: none;
    letter-spacing: 1.2px;
    font-size: 16px;
    display: block;
    color: white;
    transform: skewX(-20deg);
}

.item:hover{
    color: black;
    transition: .35s;
}

.nav-button{
    padding: 10px;
    width: 150px;
    font-weight: 600;
    transition: .9s;
    border: 6.3px solid yellow;
    background-color: blue;
}

.nav-button:hover{
    background-color: yellow;
    border: 3.3px solid white;
    transition: .9s;
}

.nav-button:after{
    content: '';
    transition: .4s;
}

.launch-app-button{
    background-color: white;
    border-radius: 35px;
    padding: 13px;
    height: 60px;
    width: 205px;
    margin-left: 95px;
    border: 6px solid black;
}

.launch-app-list-item{
    transform: skewX(0deg);
}

.launch-app-item{
    transform: skewX(0deg);
    color: blue;
    font-size: 20px;
}
